workflow-chatbot-telegram.json
{
  "name": "Bot de Clima Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "2bcac993-fe80-41ff-80c4-f5dddf9aa405",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "webhookId": "f7def667-bb89-4d6d-8bc3-3b1eb0c8cf8e",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.message.text || '';\nconst queue = text.trim().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase();\nreturn { queue };"
      },
      "id": "e44431d1-6784-4822-ba78-75c1284fbfac",
      "name": "Format Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fb212ae1-0266-41dd-a36c-9ba168969f69",
      "name": "OpenWeather API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        304
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "sINCHq68zFMs5oaq",
          "name": "Openweather Api Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1dfd4da-27f2-43bb-a5a4-0dc8c4d7bb15",
              "leftValue": "={{ Number($json.cod) }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3be587fe-f198-4ad0-a9cf-dd37803a64d1",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const temp = Math.round($input.item.json.main.temp);\nconst city = $input.item.json.name;\n\n// Obtém o código do ícone da API da Open Weather\nconst iconCode = $input.first().json.weather[0].icon;\nlet emoji = '🌤'; // padrão\n\n// Dicionário de Correlação dos Ícones Climáticos\nconst iconMap = {\n  '01d': '☀️', '01n': '🌑', \n  '02d': '🌤', '02n': '☁️',\n  '03d': '☁️', '03n': '☁️',\n  '04d': '☁️', '04n': '☁️',\n  '09d': '🌧', '09n': '🌧',\n  '10d': '🌦', '10n': '🌧',\n  '11d': '⛈', '11n': '⛈',\n  '13d': '❄️', '13n': '❄️',\n  '50d': '🌫', '50n': '🌫'\n};\n\nif (iconMap[iconCode]) {\n  emoji = iconMap[iconCode];\n}\n\nconst message = `${emoji} A temperatura em ${city} é de ${temp}°C.`;\n\nreturn { \n  message: message, \n  condition: $input.first().json.weather[0].description,\n  ok: true\n};\n"
      },
      "id": "7fa12bf1-f2cb-465f-ac22-e4210d1fa7a8",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF,BR (ex.: São Paulo,SP,BR).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "766ccecc-7299-4c8d-8a5f-0a0fc40e909a",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1104,
        432
      ],
      "webhookId": "b9466aac-086b-42ef-b09e-f8129a5adfb2",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "d0494dfa-c5ad-4d43-9ce6-5fe1ceb27cb0",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        400
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "BuzcnMejoEYwB7Wq",
          "name": "Google Gemini Api"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3d596ac1-b1e6-42d4-ba5f-2b36365ea0ab",
      "name": "Send AI Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1664,
        48
      ],
      "webhookId": "1e89b9a7-8878-4aff-9ea9-fa1e99525ce3",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fallback-node-tg",
      "name": "Fallback Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1680,
        304
      ],
      "webhookId": "86fd96b6-22b1-4369-9263-e09dede1b450",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente responsável por melhorar mensagens de previsão do tempo vindas de uma API.\n\nSua tarefa é reescrever a mensagem original tornando-a mais natural, clara e agradável para leitura humana.\n\n---\n\n### 🎯 REGRA PRINCIPAL (OBRIGATÓRIA - NUNCA QUEBRAR)\nA mensagem final deve sempre:\n- Ser natural e fluida em português do Brasil\n- Estar correta gramaticalmente\n- Ser clara e fácil de entender\n- Manter fidelidade total aos dados da API\n- Resolver ambiguidades (ex: diferenciar cidade, estado, país)\n\nSe qualquer outra regra entrar em conflito com esta, IGNORE a outra regra.\n\n---\n\n### 🌎 REGIONALISMO (OPCIONAL E CONTROLADO)\nVocê pode adaptar levemente o tom usando expressões regionais brasileiras, desde que:\n\n- NÃO prejudique clareza ou compreensão\n- NÃO use gírias excessivas ou caricatas\n- NÃO force regionalismo se não for natural\n- A frase ainda deve ser compreendida por qualquer brasileiro\n\nExemplos aceitáveis:\n- \"Por lá\" em vez de repetir o local\n- Pequenas variações de tom (ex: “clima agradável”, “tempo firme”)\n\nExemplos NÃO aceitáveis:\n- Gírias pesadas ou muito locais (ex: \"bah tri frio\", \"mano mó calor\")\n- Linguagem informal demais\n- Qualquer coisa que pareça estereotipada\n\nSe houver dúvida, NÃO use regionalismo.\n\n---\n\n### 📏 REGRAS GERAIS\n- NÃO altere os dados (temperatura, local, condição)\n- NÃO invente informações\n- Pode reorganizar a frase livremente\n- Pode adicionar contexto leve (ex: “neste momento”, “agora”)\n- Emojis são opcionais\n\n---\n\n### 📥 Entrada\n {{ $json.message }}, {{ $json.condition }}\n---\n\n### 📤 Saída\nRetorne apenas a mensagem final melhorada, sem explicações\n"
      },
      "id": "e3a89047-97d8-4f93-86f7-abc123456789",
      "name": "AI Text Enhancer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1344,
        192
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "OpenWeather API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather API": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "AI Text Enhancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Text Enhancer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Text Enhancer": {
      "main": [
        [
          {
            "node": "Send AI Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ad3f0b85-33dc-4890-b41b-7fb57f843c2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f814927797f32f217cd3e520758cda8c4caaec080ea7137fd53477c2b3ebaaa6"
  },
  "id": "SzDEn5eG6L9ErzWC",
  "tags": []
}