workflow-chatbot-telegram.json
{
  "name": "Bot de Clima Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "dbdf8239-7489-4cd7-95e8-9143707dd6ab",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -32
      ],
      "webhookId": "f7def667-bb89-4d6d-8bc3-3b1eb0c8cf8e",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.message.text || '';\nconst queue = text.trim().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase();\nreturn { queue };"
      },
      "id": "02cc12fe-63bb-4214-a6b2-03d06a525454",
      "name": "Format Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Format Input').item.json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4953c767-97d6-4ca9-a7b5-49a2031294cf",
      "name": "OpenWeather API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -288,
        160
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "sINCHq68zFMs5oaq",
          "name": "Openweather Api Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1dfd4da-27f2-43bb-a5a4-0dc8c4d7bb15",
              "leftValue": "={{ Number($json.cod) }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed988751-3767-41c7-b198-36ec7fb1be14",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -112,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const temp = Math.round($input.item.json.main.temp);\nconst city = $input.item.json.name;\n\n// Obt\u00e9m o c\u00f3digo do \u00edcone da API da Open Weather\nconst iconCode = $input.first().json.weather[0].icon;\nlet emoji = '\ud83c\udf24'; // padr\u00e3o\n\n// Dicion\u00e1rio de Correla\u00e7\u00e3o dos \u00cdcones Clim\u00e1ticos\nconst iconMap = {\n  '01d': '\u2600\ufe0f', '01n': '\ud83c\udf11', \n  '02d': '\ud83c\udf24', '02n': '\u2601\ufe0f',\n  '03d': '\u2601\ufe0f', '03n': '\u2601\ufe0f',\n  '04d': '\u2601\ufe0f', '04n': '\u2601\ufe0f',\n  '09d': '\ud83c\udf27', '09n': '\ud83c\udf27',\n  '10d': '\ud83c\udf26', '10n': '\ud83c\udf27',\n  '11d': '\u26c8', '11n': '\u26c8',\n  '13d': '\u2744\ufe0f', '13n': '\u2744\ufe0f',\n  '50d': '\ud83c\udf2b', '50n': '\ud83c\udf2b'\n};\n\nif (iconMap[iconCode]) {\n  emoji = iconMap[iconCode];\n}\n\nconst message = `${emoji} A temperatura em ${city} \u00e9 de ${temp}\u00b0C.`;\n\nreturn { \n  message: message, \n  condition: $input.first().json.weather[0].description,\n  ok: true\n};\n"
      },
      "id": "0095893d-be05-4da6-a610-2512d86e60dc",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\u274c Cidade n\u00e3o encontrada. Use o formato Cidade,UF,BR (ex.: S\u00e3o Paulo,SP,BR).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0f23d6b4-f739-4750-bbbc-d434f0e58f07",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        80,
        336
      ],
      "webhookId": "b9466aac-086b-42ef-b09e-f8129a5adfb2",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "626d5451-07d9-45a0-9b3f-85e7d623eec3",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        160
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "BuzcnMejoEYwB7Wq",
          "name": "Google Gemini Api"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "13384a75-d830-4cfd-8b56-cb595d132525",
      "name": "Send AI Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        752,
        -240
      ],
      "webhookId": "1e89b9a7-8878-4aff-9ea9-fa1e99525ce3",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3f78b732-392c-42d8-8bc7-d492b58f3a73",
      "name": "Fallback Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        752,
        96
      ],
      "webhookId": "86fd96b6-22b1-4369-9263-e09dede1b450",
      "credentials": {
        "telegramApi": {
          "id": "Hb9beO1Dp8KvqMiT",
          "name": "Telegram Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voc\u00ea \u00e9 um assistente respons\u00e1vel por melhorar mensagens de previs\u00e3o do tempo vindas de uma API.\n\nSua tarefa \u00e9 reescrever a mensagem original tornando-a mais natural, clara e agrad\u00e1vel para leitura humana.\n\n---\n\n### \ud83c\udfaf REGRA PRINCIPAL (OBRIGAT\u00d3RIA - NUNCA QUEBRAR)\nA mensagem final deve sempre:\n- Ser natural e fluida em portugu\u00eas do Brasil\n- Estar correta gramaticalmente\n- Ser clara e f\u00e1cil de entender\n- Manter fidelidade total aos dados da API\n- Resolver ambiguidades (ex: diferenciar cidade, estado, pa\u00eds)\n\nSe qualquer outra regra entrar em conflito com esta, IGNORE a outra regra.\n\n---\n\n### \ud83c\udf0e REGIONALISMO (OPCIONAL E CONTROLADO)\nVoc\u00ea pode adaptar levemente o tom usando express\u00f5es regionais brasileiras, desde que:\n\n- N\u00c3O prejudique clareza ou compreens\u00e3o\n- N\u00c3O use g\u00edrias excessivas ou caricatas\n- N\u00c3O force regionalismo se n\u00e3o for natural\n- A frase ainda deve ser compreendida por qualquer brasileiro\n\nExemplos aceit\u00e1veis:\n- \"Por l\u00e1\" em vez de repetir o local\n- Pequenas varia\u00e7\u00f5es de tom (ex: \u201cclima agrad\u00e1vel\u201d, \u201ctempo firme\u201d)\n\nExemplos N\u00c3O aceit\u00e1veis:\n- G\u00edrias pesadas ou muito locais (ex: \"bah tri frio\", \"mano m\u00f3 calor\")\n- Linguagem informal demais\n- Qualquer coisa que pare\u00e7a estereotipada\n\nSe houver d\u00favida, N\u00c3O use regionalismo.\n\n---\n\n### \ud83d\udccf REGRAS GERAIS\n- N\u00c3O altere os dados (temperatura, local, condi\u00e7\u00e3o)\n- N\u00c3O invente informa\u00e7\u00f5es\n- Pode reorganizar a frase livremente\n- Pode adicionar contexto leve (ex: \u201cneste momento\u201d, \u201cagora\u201d)\n- Emojis s\u00e3o opcionais\n\n---\n\n### \ud83d\udce5 Entrada\n {{ $json.message }}, {{ $json.condition }}\n---\n\n### \ud83d\udce4 Sa\u00edda\nRetorne apenas a mensagem final melhorada, sem explica\u00e7\u00f5es\n"
      },
      "id": "4a0ba9be-23f3-45d3-b4b5-88c56e93941b",
      "name": "AI Text Enhancer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        448,
        -80
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.queue }}"
      },
      "id": "ec0b3cf5-b3ec-4890-a625-6a11c00fe93f",
      "name": "Redis GET",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        -32
      ],
      "credentials": {
        "redis": {
          "id": "K3MUKEWhy9Xj8HXJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "abc-if",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1303f60e-21c2-4485-86d0-9d5fa8d5c0f3",
      "name": "IF Cached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const obj = JSON.parse($input.item.json.propertyName);\nreturn obj;"
      },
      "id": "71f5db72-255d-4d39-bb76-7ba0a2409197",
      "name": "Parse Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node[\"Format Input\"].json[\"queue\"] }}",
        "value": "={{ JSON.stringify($json) }}",
        "options": {
          "expire": true,
          "expireTime": 900
        }
      },
      "id": "1f9dc293-e342-4c4f-892f-5a1c0daccf0c",
      "name": "Redis SET",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "credentials": {
        "redis": {
          "id": "K3MUKEWhy9Xj8HXJ",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "Redis GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather API": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Redis SET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "AI Text Enhancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Text Enhancer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Text Enhancer": {
      "main": [
        [
          {
            "node": "Send AI Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET": {
      "main": [
        [
          {
            "node": "IF Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cached": {
      "main": [
        [
          {
            "node": "Parse Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenWeather API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cache": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis SET": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ca8ea738-3c73-41ca-9669-c1726464ae20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f814927797f32f217cd3e520758cda8c4caaec080ea7137fd53477c2b3ebaaa6"
  },
  "id": "SzDEn5eG6L9ErzWC",
  "tags": []
}